@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
    
}
/* Hide scrollbar for IE, Edge and Firefox */
html,body {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    overflow-x: hidden;
    background-color: rgb(38, 32, 46);
}
.navbar{
    background-color: rgb(22, 77, 77);
}